/*.main {
    width: 100%;
    display: flex;
    padding: 0px 20px 20px 0px;
}*/

.sidebar {
    position: fixed;
    max-width: 550px;
    width: 25%;
    height: 100%;
    padding: 0px;
    background-color: #f8f9fa;
}

.sidebar > h1 {
    align-items: center;
}

.content{
    position: relative;
    left: 0%;
    max-width: 1300px;
    width: 55%;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.navbar {
    position: fixed;
    left: 25%;
    right: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    z-index: 99;
}

/*.breadcrumb {
    position: fixed;
    top: 60.66px;
    height: 39.34px;
    left: 25%;
    right: 0px;   
    padding: 0px 0px 0px 10px;
    background-color: #f8f9fa;
    z-index: 99;
}*/

.content > .container {
    z-index: 1;
    padding: 0px 0px 0px 50px;
    position: relative;
    top: 100px;
}

.title > h1 {
   text-align: center;
}

article img{
    max-width: 100% !important;
    height: auto !important;
    border-radius: .25rem!important;
}
.featured-image-list{
    object-fit: cover;
}