{% extends "base.html" %}
{% load static%}

{% block title %} Регистрация {% endblock %}

{% block static %}
	<link rel="stylesheet" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}


{% block content %}
	{% if form.errors %}
		{{ form.errors|escape }}
	{% endif %}
   	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form p-l-55 p-r-55 p-t-100" action="{% url 'users:register' %}" method="post">
					{% csrf_token %}
					<span class="login100-form-title p-t-20 p-b-20">Регистрация</span>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Пожалуйста введите ящик АРМ ГС">
						<input class="input100" type="email" name="email" placeholder="почтовый ящик АРМ ГС">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Пожалуйста введите пароль">
						<input class="input100" type="password" name="password1" placeholder="пароль">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Пожалуйста повторите пароль">
						<input class="input100" type="password" name="password2" placeholder="повторите пароль">
						<span class="focus-input100"></span>
					</div>
					<div class="container-login100-form-btn m-b-16">
						<button class="login100-form-btn">
							Зарегистрироваться
						</button>
					</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
