{% extends "base.html" %}
{% load mptt_tags %}

{% block title %}Стартовая страница{% endblock %}


    {% block sidebar %}


{% if request.user.is_authenticated %}
<h3 class="w3-bar-item">Категории</h3>
    <ul>
        {% recursetree categories %}
        <li>
        <a href="{{node.get_absolute_url}}" class="w3-bar-item w3-button">{{node.title}}</a>
        {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
        {% endif %}
        </li>
        {% endrecursetree %}
    </ul>

                        {% else %}
                            <h3 class="w3-bar-item">Здесь будут ваши категории</h3>

                        {% endif %}




     {% endblock %}

{% block content %}

{% include "_breadcrumbs.html" with ancestors=category.get_ancestors object=category%}

{% if request.user.is_authenticated %}
    <div class="container-fluid mt-5">
      <h5>Место для хранения Ваших заметок:</h5>
      <br>
        <p>1. Добавляйте категории.</p>
        <p>2. Добавляйте заметку по категории.</p>
    </div>
{% else %}
    <div class="container-fluid mt-5">
      <h5>Пройдите процедуру <a href="{% url 'users:register' %}">регистрации</a>, и <a href="{% url 'users:login' %}">авторизуйтесь.</a></h5>

    </div>

{% endif %}


{% endblock %}