{% extends "base.html" %}
{% load mptt_tags %}

{% block title %}{{category.title}} list of items{% endblock %}
{% block sidebar %}
<h3 class="w3-bar-item">Категории</h3>
    <ul>
        {% recursetree categories %}
        <li>
        <a href="{{node.get_absolute_url}}" class="w3-bar-item w3-button">{{node.title}}</a>
        {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
        {% endif %}
        </li>
        {% endrecursetree %}
    </ul>
     {% endblock %}

{% block content %}

{% include "_breadcrumbs.html" with ancestors=category.get_ancestors object=category%}
<a href="{% url 'blog:categories_update' slug=category.slug %}" class="btn btn-warning">Редактировать категорию</a>
<a href="{% url 'blog:categories_delete' slug=category.slug %}" class="btn btn-danger">Удалить категорию</a>
<br>
<br>
<div>
    {% for post in posts %}

    <div class="card mb-3" style="width: 100rem;">
        <div class="row">
            <div class="col-2">
                <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
            </div>
            <div class="col-6">
                <div class="card-body">
                        <h2 class="card-title h5">
                                <a href="{{ post.get_absolute_url }}">
                                {{ post.title }}
                                </a>
                        </h2>

                    <div class="card-subtitle">{{ post.publish }}</div>
                    <p class="card-text">{{ post.body|safe|striptags|truncatechars:1000 }}</p>
                    <div>
                        <a href="{{ post.get_absolute_url }}" class="btn btn-primary btn-sm">Открыть</a>
                    </div>
                    <br>
                    <a href="{% url 'blog:posts_update' slug=post.slug %}" class="btn btn-warning">Редактировать</a>
                    <a href="{% url 'blog:posts_delete' slug=post.slug %}" class="btn btn-danger">Удалить</a>
                    
                  </div>
                </div>
            </div>
      </div>

    {% endfor %}


	{% if is_paginated %}
	<div class="pagination">
	    <span class="step-links">
		{% if page_obj.has_previous %}
		<a href="?page=1">&laquo; first</a>
		<a href="?page={{ page_obj.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
		    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
		</span>

		{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}">next</a>
		<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
		{% endif %}
	    </span>
	</div>
	{% endif %}

    </div>
{% endblock %}
